.mb-1 {
    background: rgba(165,165,165,0.4);
    border-radius: 1rem 1rem 0 0;
    margin-bottom: -.25rem!important;
}

h3.mb-5.head {
    background: rgba(165,165,165,0.4);
    border-radius: 0 0 1rem 1rem;
}
